    body{
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(255, 241, 224)

    }
  .container{
 justify-content: center;
 align-items: center;
 text-align: center;
 background-color: white;
margin-top: 80px;
margin-bottom: 80px;
border-radius: 15px;
  }
  
  .container img{
    width: 580px;
    height: auto;
    margin-top: 30px;
    margin-right:30px ;
    margin-left: 30px;
    border-radius: 10px;
    margin-bottom: auto;
  }
  h1{
   font-family: montserrat;
  }

  p{
    font-family: Open sans;
    font-size: 14px;
  }
   
   h3{
    font-family: Open sans;
    color: rgb(113, 3, 38)
   }

      .div1{
      background-color: rgb(255, 242, 255);
      align-items: left ;
      text-align: left;
      margin-right: 25px;
      margin-left: 25px;
      font-family: Open sans;
    }

    .div1 h3{
      font-family: Open sans;
      margin-left: 20px;
    }
    .div1 ul{
     font-size: 13px;
     color: rgb(81, 79, 79);
    }
    
 

    .div2{
      background-color: rgb(255, 255, 255);
      align-items: left ;
      text-align: left;
      margin-right: 25px;
      margin-left: 25px;
      font-family: Open sans;
    }
    .div2 h2{
      font-family: Open sans;
      margin-left: 20px;
      color: rgb(111, 53, 41)
    }
    .div2 ul{
     font-size: 13px;
    color: rgb(81, 79, 79);

     }
  
    .div3{
      background-color: rgb(255, 255, 255);
      align-items: left ;
      text-align: left;
      margin-right: 25px;
      margin-left: 25px;
      font-family: Open sans;
    }
    .div3 h2{
      font-family: Open sans;
      margin-left: 20px;
      color: rgb(111, 41, 41)
    }
    .div3 ol{
     font-size: 13px;
     color: rgb(81, 79, 79);
     margin-left: 20px;
    }
   


    hr{
      margin: 20px 25px;
      color: grey;
    }

   
    .Nutrition{
      color: rgb(111, 41, 41);
      font-weight: bold;
    }

    table{
      border-collapse: collapse;
      width: 300px;
      margin: 20px 25px;
      font-family: Open sans;
    }
    td:first-child {
      padding: 8px 10px;
      text-align: left;
      font-weight: 600;
      color: #333;
      width: 60%;
    }
    td:last-child {
      padding: 8px 10px;
      text-align: center;
      font-weight: bold;
      color: rgb(111, 41, 41);

      width: 40%;
    }

    .Table-h2{
      font-family: Open sans;
      margin-left:40px;
      margin-right: 20px;
      text-align: left;
    }

    .table-p{
      font-family: Open sans;
      margin-left: 40px;
      margin-right: 20px;
      text-align: left;
    }
   
   ul{

    list-style-type: disc;
    padding: 20px;
   }

   ul li::marker{
    color: rgb(111, 41, 41);
    font-size: 1.2em;
    font-weight: bold;
   }

   ol li::marker{
    color: rgb(111, 41, 41);
    font-size: 1.2em;
    font-weight: bold;
   }
